:root {
  font-family: system-ui, Poppins, Inter;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background: linear-gradient(135deg, #E2B0A2 0%, #D5E0A2 100%);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  gap: 30px;
}

body {
  margin: 0;
}